/* PC・タブレット */
.row {
  display:grid;
  grid-template-columns: 28px 1fr 100px 110px 90px 60px 36px; 
  gap:8px;
  align-items:center;
}

/* スマホ */
@media (max-width:640px){
  .row{
    grid-template-columns: 24px 1fr 80px 80px 70px 50px 28px;
    gap:6px;
  }
}
